<div class="container">
  <div class="row mt-3">
      <div> 
        <i class="bi bi-bar-chart-fill"></i>
        <strong>MARKET PRICE</strong>
      </div>
    <p>Organic Wheat</p>
  </div>
    <div class="row py-3">
    <%= line_chart charts_average_price_by_month_trades_path, prefix: "$", round: 2, label: "Price", ytitle: "Monthly Average Price (USD)" %>
    </div>
    <div class="row py-3">
    <%= line_chart charts_volume_weighted_price_by_month_trades_path, prefix: "$", round: 2, label: "Price", ytitle: "Monthly WVAP (USD)" %>
    </div>
  <div class="row py-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Commodity</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price (USD)</th>
        </tr>
      </thead>
      <tbody>
        <% @trades.each do |trade| %>
          <tr>
            <td><%= trade.transaction_date.strftime("%m/%d/%Y")  %></td>
            <td><%= trade.contract %></td>
            <td><%= number_with_delimiter(trade.quantity, delimiter: ",") %></td>
            <td><%= number_to_currency(trade.price.to_f) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>